$yellow: hsl(51, 100%, 49%);
$very_dark_desaturated_blue: hsl(212, 27%, 19%);

header {
  width: 100%;
  padding: 3.2rem 3.2rem 0;

  z-index: 999;
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img.logo {
  }
  img.menu {
    cursor: pointer;
  }

  nav {
    width: min(calc(100% - 6.4rem), 42rem);
    height: 0;

    opacity: 0;
    position: absolute;
    top: calc(100% + 5.6rem);
    right: 3.2rem;

    background: white;
    transition: .2s ease;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      // width: 5rem;
      content: '';
      width: 0; 
      height: 0; 
      border-left: 2.8rem solid transparent;
      border-top: 0px solid transparent;
      border-bottom: 2.8rem solid white; 

      position: absolute;
      top: -2.7rem;
      right: 0;
    }

    a {
      width: 100%;
      display: none;
      opacity: 0;

      font-size: 1.8rem;
      text-align: center;
      text-decoration: none;
      transition: .2s ease;

      &.contact {
        width: auto;
        margin-top: 1.2rem;
        padding: 1.4rem 2.2rem;
        background: $yellow;
        border-radius: 4rem;

        font-size: 1.6rem;
        font-family: 'Fraunces', serif;
        text-transform: uppercase;
      }
    }
  }

  &.active {
    nav {
      height: 28.8rem;
      padding: 2.2rem 0 4.4rem;
      opacity: 1;

      a {
        padding: 1.6rem;
        display: block;
        opacity: 1;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 2.8rem 4rem 0;

    img.logo {
    }
    img.menu {
      display: none
    }

    nav {
      width: auto;
      height: auto;
      opacity: 1;

      position: relative;
      top: 0;
      right: 0;
      flex-direction: row;

      background: transparent;

      &::before {
        display: none
      }

      a {
        display: block;
        opacity: 1;
        margin-right: 3.2rem;
        color: white;
        font-size: 1.6rem;

        &.contact {
          margin-top: 0;
          margin-right: 0;

          background: white;
          color: $very_dark_desaturated_blue;
          font-size: 1.4rem;

          transition: .2s ease;

          &:hover {
            background: rgba(white, .4);
            color: white;
          }
        }
      }
    }

    &.active {
      nav {
        height: auto;
        padding: 0;
      }
    }
  }
}
