section.intro {
  width: 100%;
  min-height: 100vh;


  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img.background { 
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    object-position: bottom;
  }

  h1 {
    position: relative;

    color: white;
    font-size: 4rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
  }
  img.arrow {
    margin-top: 8rem;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  section.intro {
    height: 100vh;
    max-height: none;

    img.background { 
      height: 100%;
    }

    h1 {
      font-size: 5rem;
    }
    img.arrow {
      margin: 10rem 0;
    }
  }
}
